.v_footer_div {
    height: 60px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.v_footer_copyright {
    text-align: center;
    font-family: Roboto-Regular;
    font-size: 12px;
    color: rgba(0,0,0,0.87);
    letter-spacing: 0.4px;
    line-height: 16px;
}

@media screen and (max-width: 500px) {
    .v_footer_copyright{
        font-size: 10px;
    }
}
