.v_h3, .v_h4, .v_h5, .v_h6 , .v_b2 {
    display: block;
}

.v_title {
    font-family: Roboto-Regular;
    font-size: 34px;
    color: #2D3B44;
    letter-spacing: 0.25px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.v_desc {
    font-family: Roboto-Regular;
    font-size: 14px;
    color: #2D3B44;
    letter-spacing: 0.25px;
    text-align: center;
    line-height: 20px;
}


@media screen and (max-width: 500px) {
    .v_title {
        padding: 0 15px 0 15px ;
        font-size: 24px;
        letter-spacing: 0.1px;
        line-height: 30px;
    }
    .v_desc {
        padding: 0 35px 0 35px ;
        font-size: 12px;
        line-height: 18px;
    }
}
